/* :root {
    --main-bg-color: #408ec6;
    --main-font-color: #7a2048;
    --main-bdr-color: #1e2761;
}
* {
    margin: 0;
}
body {
    background-color: var(--main-bdr-color);
}
/* Header */
/* header {
    display: flex;
    justify-content: center;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    margin: 25px;
    border-radius: 25px;
    padding: 20px;
}
header h1 {
    border-bottom: 3px solid var(--main-bdr-color);
}
footer {
    display: flex;
    justify-content: flex-start;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    margin: 25px;
    border-radius: 25px;
    padding: 20px;
    bottom: 0;
}  */
/* Navigation */
/* nav {
    display: inline-flex ;
    background-color: var(--main-bg-color);
    color: var(--main-font-color); 
    margin: 0; 
    border-radius: 25px;
    font-weight: bolder;
    flex-wrap: wrap;
    position: sticky;
    top: 20px;
    margin: 1% 1% 5% 1%;
    align-items: center;
    z-index: 9999;
    width: 200px;
    height: 500px;
    border: 2px solid var(--main-bdr-color);
    
}
nav div {
    margin: 20%;
    border-bottom: 2px solid var(--main-bdr-color);
    list-style-type: none;
    color: var(--main-font-color);
    font-size: larger;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
    height: 45px;
    width: 155px;
}
.nav-button:hover {
    background-color: var(--main-bdr-color);
    border-radius: 15px;
}
.main-content {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
    width: 85%;
    
    
} */
/* About Me Section */

.bio {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 25px;
    
    
   
}
.bio h2 {
    color: var(--main-font-color);
    border-bottom: 3px solid var(--main-bdr-color);
    text-align: center;
    
}
.bio img {
    height: 385px;
    width: 445px;
    margin: 0 auto;
    border-radius: 15px;
    
}
.bio p {
    font-size: 25px;
    position: relative;
    margin: 0 auto;
}
/* Website development section */

.website-bubbles div {
    display: flex;
    border: 2px solid var(--main-bdr-color);
    justify-content: space-around;
    border-radius: 20px;
    height: 250px;
    width: 450px;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}
.website-bubbles {
    display: flex;
    flex-wrap: wrap;
    
}
.website-bubbles a {
    text-decoration: solid;
    font-weight: bold;
}
.bubble {
    opacity: .5;
}


.bubble:hover {
    opacity: 1;
    height: 260px;
    width: 460px;
    margin-bottom: 0;
}

.website-bubbles>* {
    flex: 1 1 160px;
}
#run-buddy {
    background-image: url(./images/runbuddyscreenshot.png);
    background-size: auto;
    
}
#paradise-paw {
    background-image: url(./images/Paradise-paw.png);
    background-size: auto;
}
#Weather-app {
    background-image: url(./images/WeatherApp.png);
    background-size: auto;
    background-position: -950px;
}
/* Utilities */
/* .section-title {
    color: var(--main-font-color);
    border-bottom: 3px solid var(--main-bdr-color);
    text-align: center;
}
.content-section {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 25px;
    margin: 5%;
    flex-direction: column;
    padding: 7%;
    padding-top: 1.5%;
    margin-left: 12%;
    margin-top: 0;
    margin-bottom:20px;
    width: 80%;
    
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}
.flex-colomn {
    flex-direction: column;
}
/* Media Quiries */

/* 
@media screen and (max-width: 1760px) {
    nav {
        align-self: center;
        height: 75px;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 96%;
        }
    
    
    
    nav div {
        flex: 1 1 100px;
        padding: 0%;
        margin: auto 0;
        font-size: 25px;
        align-items: center;
        border: 0 2px 0 0 solid var(--main-bdr-color);
    }
    .main-content{
        width: 100%;
        margin-left: 2px;
        align-items: flex-start;
        padding-left: 0;
        
    }
    .content-section{
        margin: 10px 10px;
    }
}



@media screen and (max-width: 980px){

    }
        
   
@media screen and (max-width:768px) {
    
    }
@media screen and (max-width:575px) {
        
}  */