.MenuButtons {
    height:215px;
    width:115px;
    background-color: rgb(235, 226, 226);
    border-radius: 15px;
    border-color: rgb(88, 88, 223);
    border: 5px solid rgb(76, 76, 182);
}

.Mbtn {
    height:35px;
    width:100px;
    background-color: rgb(204, 64, 64);
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 7.5px;

    }

    .Mbtn:hover {
        width: 108px;
        background-color: rgb(rgb(94, 4, 4)

    }
    